body{
    background-color: rgb(205, 235, 255);
}
tbody{
    background-color: rgb(205, 252, 255);
}

.tableHead{
    background-color: darkred;
    color: white;
}

td {
    border: solid 2px lightgrey;
}
div {
    text-align: center;
}